# モデルを作成する
$x_1,x_2,x_3,\cdots,x_{12},x_{13},y$ 測定値、$\hat{y}$ 予測値  
例えば$x_1$は部屋の広さ、$x_2$は駅からの距離、$x_3$は犯罪発生率、$y$は家賃

$$
\hat{y}=w_1x_1+w_2x_2+\cdots+w_Mx_M+b
$$

$b$を$w_0x_0$と書くことにする。（ただし$x_0=1$）

\begin{eqnarray}
\hat{y}&=&w_0x_0+w_1x_1+w_2x_2+\cdots+w_Mx_M\\
&=&
\left[
\begin{array}{rrrr}
w_0&w_1&\cdots&w_M
\end{array}
\right]
\left[
\begin{array}{c}
x_0\\
x_1\\
\vdots\\
x_M
\end{array}
\right]=\boldsymbol{w}^{\mathrm{T}}\boldsymbol{x}\\
&=&
\left[
\begin{array}{rrrr}
x_0&x_1&\cdots&x_M
\end{array}
\right]
\left[
\begin{array}{c}
w_0\\
w_1\\
\vdots\\
w_M
\end{array}
\right]=\boldsymbol{x}^{\mathrm{T}}\boldsymbol{w}
\end{eqnarray}

# 評価関数を決める
\begin{eqnarray}
L&=&(y_1-\hat{y}_1)^2+(y_2-\hat{y}_2)^2+\cdots+(y_N-\hat{y}_N)^2\\
&=&
\left[
\begin{array}{rrrr}
(y_1-\hat{y}_1)&(y_2-\hat{y}_2)&\cdots&(y_N-\hat{y}_N)\
\end{array}
\right]
\left[
\begin{array}{c}
(y_1-\hat{y}_1)\\
(y_2-\hat{y}_2)\\
\vdots\\
(y_N-\hat{y}_N)
\end{array}
\right]\\
&=&(\boldsymbol{y}-\boldsymbol{\hat{y}})^{\mathrm{T}}(\boldsymbol{y}-\boldsymbol{\hat{y}})
\end{eqnarray}

# 評価関数を最小化する
## 評価関数の式を変形
$$
\hat{y}=
\left[
\begin{array}{c}
\hat{y}_1\\
\hat{y}_2\\
\vdots\\
\hat{y}_N
\end{array}
\right]=
\left[
\begin{array}{c}
\boldsymbol{x}_1^{\mathrm{T}}\boldsymbol{w}\\
\boldsymbol{x}_2^{\mathrm{T}}\boldsymbol{w}\\
\vdots\\
\boldsymbol{x}_N^{\mathrm{T}}\boldsymbol{w}
\end{array}
\right]=
\left[
\begin{array}{c}
\boldsymbol{x}_1^{\mathrm{T}}\\
\boldsymbol{x}_2^{\mathrm{T}}\\
\vdots\\
\boldsymbol{x}_N^{\mathrm{T}}
\end{array}
\right]\boldsymbol{w}=
\left[
\begin{array}{c}
\begin{array}{rrrrr}
x_{10}&x_{11}&x_{12}&\cdots&x_{1M}\\
x_{20}&x_{21}&x_{22}&\cdots&x_{2M}\\
\vdots&\vdots&\vdots&\ddots&\vdots\\
x_{N0}&x_{N1}&x_{N2}&\cdots&x_{NM}
\end{array}
\end{array}
\right]\boldsymbol{w}=\boldsymbol{X}\boldsymbol{w}
$$
  
  
こっちの方がわかりやすいかも
$$
\hat{y}=
\left[
\begin{array}{c}
\hat{y}_1\\
\hat{y}_2\\
\vdots\\
\hat{y}_N
\end{array}
\right]=
\left[
\begin{array}{c}
\begin{array}{lrrrr}
[x_{10}&x_{11}&x_{12}&\cdots&x_{1M}]\boldsymbol{w}\\
[x_{20}&x_{21}&x_{22}&\cdots&x_{2M}]\boldsymbol{w}\\
[\vdots&\vdots&\vdots&\ddots&\vdots]\boldsymbol{w}\\
[x_{N0}&x_{N1}&x_{N2}&\cdots&x_{NM}]\boldsymbol{w}
\end{array}
\end{array}
\right]=
\left[
\begin{array}{c}
\begin{array}{rrrrr}
x_{10}&x_{11}&x_{12}&\cdots&x_{1M}\\
x_{20}&x_{21}&x_{22}&\cdots&x_{2M}\\
\vdots&\vdots&\vdots&\ddots&\vdots\\
x_{N0}&x_{N1}&x_{N2}&\cdots&x_{NM}
\end{array}
\end{array}
\right]\boldsymbol{w}=\boldsymbol{X}\boldsymbol{w}
$$
  
  
\begin{eqnarray}
L&=&(\boldsymbol{y}-\boldsymbol{\hat{y}})^{\mathrm{T}}(\boldsymbol{y}-\boldsymbol{\hat{y}})\\
&=&(\boldsymbol{y}-\boldsymbol{X}\boldsymbol{w})^{\mathrm{T}}(\boldsymbol{y}-\boldsymbol{X}\boldsymbol{w})\\
&=&\{\boldsymbol{y}^{\mathrm{T}}-(\boldsymbol{X}\boldsymbol{w})^{\mathrm{T}}\}(\boldsymbol{y}-\boldsymbol{X}\boldsymbol{w})\\
&=&(\boldsymbol{y}^{\mathrm{T}}-\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}})(\boldsymbol{y}-\boldsymbol{X}\boldsymbol{w})\\
&=&\boldsymbol{y}^{\mathrm{T}}\boldsymbol{y}-\boldsymbol{y}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}-\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}\\
&=&\boldsymbol{y}^{\mathrm{T}}\boldsymbol{y}-\boldsymbol{y}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}-(\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y})^{\mathrm{T}}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}\\
&=&\boldsymbol{y}^{\mathrm{T}}\boldsymbol{y}-\boldsymbol{y}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}-\boldsymbol{y}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}\\
&=&\boldsymbol{y}^{\mathrm{T}}\boldsymbol{y}-2\boldsymbol{y}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}\\
&=&c+\boldsymbol{b}^{\mathrm{T}}\boldsymbol{w}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{A}\boldsymbol{w}\\
\end{eqnarray}

## 評価関数$L$を最小化する最適な$\boldsymbol{w}$を求める
$$
L=c+\boldsymbol{b}^{\mathrm{T}}\boldsymbol{w}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{A}\boldsymbol{w}
$$
\begin{eqnarray}
&& \frac{\partial}{\partial\boldsymbol{w}}L=\boldsymbol{0}\\
& \iff &\frac{\partial}{\partial\boldsymbol{w}}(c+\boldsymbol{b}^{\mathrm{T}}\boldsymbol{w}+\boldsymbol{w}^{\mathrm{T}}\boldsymbol{A}\boldsymbol{w})=\boldsymbol{0}\\
& \iff &\frac{\partial}{\partial\boldsymbol{w}}(c)+\frac{\partial}{\partial\boldsymbol{w}}(\boldsymbol{b}^{\mathrm{T}}\boldsymbol{w})+\frac{\partial}{\partial\boldsymbol{w}}(\boldsymbol{w}^{\mathrm{T}}\boldsymbol{A}\boldsymbol{w})=\boldsymbol{0}\\
& \iff &\boldsymbol{0}+\boldsymbol{b}+(\boldsymbol{A}+\boldsymbol{A}^{\mathrm{T}})\boldsymbol{w}=\boldsymbol{0}\\
& \iff &-2\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}+\{\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}+(\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X})^{\mathrm{T}}\}\boldsymbol{w}=\boldsymbol{0}\\
& \iff &-2\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}+\{\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}+\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\}\boldsymbol{w}=\boldsymbol{0}\\
& \iff &-2\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}+2\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}=\boldsymbol{0}\\
& \iff &\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X}\boldsymbol{w}=\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}\\
& \iff &\boldsymbol{w}=(\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X})^{-1}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}\\
\end{eqnarray}

## 計算例
$
X=\left[
\begin{array}{rrr}
1 & 2 & 3 \\
1 & 2 & 5 \\
1 & 3 & 4 \\
1 & 5 & 9 \\
\end{array}
\right],
y=\left[
\begin{array}{r}
1 \\
5 \\
6 \\
8 \\
\end{array}
\right]
$のとき

$\boldsymbol{w}=(\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X})^{-1}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}$

In [1]:
import numpy as np

In [2]:
X = np.array([
    [1, 2, 3],
    [1, 2, 5],
    [1, 3, 4],
    [1, 5, 9]
])
print(X)

[[1 2 3]
 [1 2 5]
 [1 3 4]
 [1 5 9]]

In [3]:
y = np.array([
    [1],
    [5],
    [6],
    [8]
])
print(y)

[[1]
 [5]
 [6]
 [8]]

In [4]:
XtX = np.dot(X.T, X)
print(XtX)

[[  4  12  21]
 [ 12  42  73]
 [ 21  73 131]]

In [5]:
XtX_inv = np.linalg.inv(XtX)
print(XtX_inv)

[[ 1.76530612 -0.39795918 -0.06122449]
 [-0.39795918  0.84693878 -0.40816327]
 [-0.06122449 -0.40816327  0.24489796]]

In [6]:
Xty = np.dot(X.T, y)
print(Xty)

[[ 20]
 [ 70]
 [124]]

In [7]:
w = np.dot(XtX_inv, Xty)
print(w)

[[-0.14285714]
 [ 0.71428571]
 [ 0.57142857]]

In [8]:
np.dot(X, w)

array([[3.        ],
       [4.14285714],
       [4.28571429],
       [8.57142857]])

# データを入手する
UCI Machine Learning Repository から housing.data をダウンロードし、作業フォルダーに保存してください。

https://archive.ics.uci.edu/ml/machine-learning-databases/housing/

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('housing.data', header=None, delim_whitespace=True,
                names=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS',
                       'RAD','TAX','PTRATIO','B','LSTAT','MEDV'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [11]:
print(df.iloc[2,5])

7.185

In [12]:
df.iloc[:,5].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [13]:
df.iloc[:,0:13].head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [14]:
df.iloc[:,0:-1].head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [15]:
X = df.iloc[:,0:-1]
X['x_0'] = 1
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,x_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [16]:
df.iloc[:,13].head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [17]:
df.iloc[:,-1].head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [18]:
y = df.iloc[:,-1]
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

$\boldsymbol{w}=(\boldsymbol{X}^{\mathrm{T}}\boldsymbol{X})^{-1}\boldsymbol{X}^{\mathrm{T}}\boldsymbol{y}$を計算する。

In [19]:
XtX = np.dot(X.T, X)
#print(XtX)

In [20]:
XtX_inv = np.linalg.inv(XtX)
#print(XtX_inv)

In [21]:
Xty = np.dot(X.T, y)
#print(Xty)

In [22]:
w = np.dot(XtX_inv, Xty)
print(w)

[-1.08011358e-01  4.64204584e-02  2.05586264e-02  2.68673382e+00
 -1.77666112e+01  3.80986521e+00  6.92224640e-04 -1.47556685e+00
  3.06049479e-01 -1.23345939e-02 -9.52747232e-01  9.31168327e-03
 -5.24758378e-01  3.64594884e+01]