# 欠損値と外れ値の取り扱い

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2d_data_including_null.csv')

In [3]:
df

           x          y
0   0.281058   0.472315
1   0.875232   0.341397
2   0.809434   0.079173
3        NaN   0.654989
4   0.617518  50.852044
5   0.570746   0.426443
6   0.005543   0.971473
7   0.037822        NaN
8  50.622857   0.107888
9   0.634358   0.019693

In [4]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

## 欠損値を平均値で埋める

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
missing_value_to_mean = SimpleImputer()

In [7]:
missing_value_to_mean.fit(X)

SimpleImputer()

In [8]:
X

           x
0   0.281058
1   0.875232
2   0.809434
3        NaN
4   0.617518
5   0.570746
6   0.005543
7   0.037822
8  50.622857
9   0.634358

In [9]:
X_new = missing_value_to_mean.transform(X)

In [10]:
pd.DataFrame(X_new)

           0
0   0.281058
1   0.875232
2   0.809434
3   6.050508
4   0.617518
5   0.570746
6   0.005543
7   0.037822
8  50.622857
9   0.634358

## 欠損値を中央値で埋める

In [11]:
missing_value_to_median = SimpleImputer(strategy='median')

In [12]:
missing_value_to_median.fit(X)

SimpleImputer(strategy='median')

In [13]:
X_new2 = missing_value_to_median.transform(X)

In [14]:
pd.DataFrame(X_new2)

           0
0   0.281058
1   0.875232
2   0.809434
3   0.617518
4   0.617518
5   0.570746
6   0.005543
7   0.037822
8  50.622857
9   0.634358

## 欠損値を除去する

In [15]:
df.dropna()

           x          y
0   0.281058   0.472315
1   0.875232   0.341397
2   0.809434   0.079173
4   0.617518  50.852044
5   0.570746   0.426443
6   0.005543   0.971473
8  50.622857   0.107888
9   0.634358   0.019693

## 外れ値を除去する

In [16]:
df.query('x < 1.2 and y < 1.2')

          x         y
0  0.281058  0.472315
1  0.875232  0.341397
2  0.809434  0.079173
5  0.570746  0.426443
6  0.005543  0.971473
9  0.634358  0.019693